@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  color: #fff;
}
body {
  display: flex;
  justify-content: end;
  align-items: end;
  min-height: 100vh;

}
.Lemolite_Bot_main-div {
  display: flex;
  justify-content: end;
  align-items: center;
  min-height: 100vh;
  margin-left: 90%;
}
.Lemolite_Bot_menutoggle {
  position: absolute;
  bottom: 30px;
  height: 70px;
  width: 70px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #000;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.Lemolite_Bot_menutoggle:hover {
  transform: scale(0.95);
}
.Lemolite_Bot_menutoggle i {
  font-size: 50px;
  color: #0f0f20;
}
.Lemolite_Bot_container {
  height: 30px;
  width: 30px;
  border: 1px solid rgba(17, 16, 16, 0.5);
  border-radius: 20px;
  background: #fff;
  overflow: hidden;
  position: absolute;
  /* display: none; */
  bottom: 40px;
  right: 10px;
  z-index: -1;
  transition-delay: 1s, 0.5s, 0.5s;
  transition: 0.5s, height 0.5s, width 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Lemolite_Bot_menutoggle.active ~ .Lemolite_Bot_container {
  height: 550px;
  width: 390px;
  z-index: 1;
  transition-delay: 0s, 0.5s, 0.5s;
  transform: translateY(-100px);
}
.Lemolite_Bot_container::before {
  content: "";
  position: absolute;
  background: #fff;
  height: 100px;
  width: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: 0.5s;
  /* box-shadow: 0 15px 25px rgba(0,0,0,.1); */
}
.Lemolite_Bot_menutoggle.active ~ .Lemolite_Bot_container::before {
  transition-delay: 0.5s;
}
.Lemolite_Bot_container .Lemolite_Bot_top-part {
  height: 80px;
  background: #0f0f20;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Lemolite_Bot_container .Lemolite_Bot_top-part i {
  font-size: 40px;
  cursor: pointer;
}
.Lemolite_Bot_top-part .Lemolite_Bot_details {
  display: flex;
  align-items: center;
}
.Lemolite_Bot_container .Lemolite_Bot_top-part .Lemolite_Bot_details img {
  height: 100px;
}
.Lemolite_Bot_top-part .Lemolite_Bot_text {
  margin-left: 10px;
}
.Lemolite_Bot_text h3 {
  font-size: 15px;
}
.Lemolite_Bot_text p {
  font-size: 11px;
}
.Lemolite_Bot_chat-section {
  position: relative;
  padding: 0 20px;
  height: 400px;
  overflow-y: scroll;
}

.Lemolite_Bot_chat-section::-webkit-scrollbar {
  width: 8px;
}

.Lemolite_Bot_chat-section::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.Lemolite_Bot_chat-section::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.Lemolite_Bot_chat-section {
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  scrollbar-width: thin;
}

.Lemolite_Bot_left-part {
  max-width: 260px;
  margin-top: 57px;
  margin-bottom: 10px;
}
.Lemolite_Bot_chat {
  display: flex;
  align-items: center;
}
.Lemolite_Bot_left-part i {
  font-size: 30px;
  background: #0f0f20;
  border-radius: 50%;
  margin-right: 10px;
  align-self: flex-start;
}
.Lemolite_Bot_left-part p {
  color: #555;
  font-weight: 400;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  margin-left: 0px;
  width: 100%;
}
.Lemolite_Bot_right-part {
  margin: -50px 0;
  text-align: right;
  max-width: 260px 0;
  float: right;
  font-size: 14px;
  margin-top: 0px;
}
.Lemolite_Bot_right-part p {
  color: #fff;
  font-size: 14px;
  background: #0f0f20;
  padding: 8px 24px;
  border-radius: 10px;
  margin-top: -20px;
}
.Lemolite_Bot_bottom-section {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
}
.Lemolite_Bot_bottom-section button {
  font-family: inherit;
  font-size: 10px;
  color: white;
  padding: 0.7em 1em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.Lemolite_Bot_bottom-section i {
  color: #0f0f20;
  font-size: 30px;
}
.Lemolite_Bot_bottom-section button:hover {
  background: #0f0f20;
  transform: scale(0.95);
  transition: transform 0.5s;
}
.Lemolite_Bot_bottom-section i:hover {
  color: white;
}

.Lemolite_Bot_bottom-section input {
  border: none;
  padding: 10px;
  flex: 1;
  color: white;
  border: 2px solid #000;
  border-radius: 10px;
  background: transparent;
  margin-right: 10px;
  font-size: 16px;
  color: #000;
}
.Lemolite_Bot_chat {
  margin-top: 20px;
}
.Lemolite_Bot_inner-button {
  margin-top: 10px;
}
.Lemolite_Bot_inner-button button {
  background: #0f0f20;
  color: #fff;
  border: none;
  padding: 10px;
  justify-content: space-around;
  display: flex;
  margin-top: 5px;
  align-items: baseline;
  border-radius: 5px;
  margin-left: 40px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: 180px;
}
.Lemolite_Bot_inner-button button:hover {
  background: rgb(54, 54, 141);
  transform: scale(0.95);
  box-shadow: 0 3px 5px rgba(16, 15, 15, 0.3);
}
@keyframes slideIn {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.Lemolite_Bot_typing {
  display: flex;
  align-items: center;
  margin-top: 20px;
  animation: slideIn 0.3s ease-out forwards;
}

.Lemolite_Bot_specification-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto); 
  gap: 10px 5px; 
  padding: 10px;
  margin-left: 29px;
}

.Lemolite_Bot_specification-button {
  width: 100px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  background: #0f0f20;
  color: #fff;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.Lemolite_Bot_specification-button:hover {
  background: rgb(54, 54, 141);
  transform: scale(0.95);
  box-shadow: 0 3px 5px rgba(16, 15, 15, 0.3);
}
.Lemolite_Bot_user {
  text-align: right;
  max-width: 260px 0;
  float: right;
  font-size: 14px;
  margin-top: 20px;
}
.Lemolite_Bot_user p {
  color: #fff;
  font-size: 14px;
  background: #0f0f20;
  padding: 8px 24px;
  border-radius: 10px;
  margin-top: -20px;
}

.Lemolite_Bot_Category-button {
  width: 120px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  background: #0f0f20;
  color: #fff;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}
.Lemolite_Bot_Category-button:hover {
  background: rgb(54, 54, 141);
  transform: scale(0.95);
  box-shadow: 0 3px 5px rgba(16, 15, 15, 0.3);
}
.Lemolite_Bot_Category-button-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px 5px; 
  padding: 10px;
  margin-left: 29px;
}
.Lemolite_Bot_ans-style {
  margin-top: 40px;
  width: 100%;
  display: flex;
}

.Lemolite_Bot_ans-style p {
  background-color: rgba(0, 0, 0, 0.1);
  color: #555;
}
.Lemolite_Bot_chat-faq {
  margin: -50px 0;
  max-width: 260px 0;
  float: right;
  font-size: 14px;
  margin-top: 0px;
  width: 80%;
}
.Lemolite_Bot_chat-faq p {
  color: #fff;
  font-size: 14px;
  background: #0f0f20;
  padding: 8px 24px;
  border-radius: 10px;
  margin-top: -20px;
}
.Lemolite_Bot_ans i {
  margin-top: 40px;
}
.Lemolite_Bot_ans{
  margin-top: 80px;
}

.Lemolite_Bot_ques-style {
  display: flex;
  flex-direction: column;
}
.Lemolite_Bot_ques-style button {
  margin: 5px 0;
  padding: 10px;
  width: 100%;
  margin-left: 40px;
  margin-top: 10px;
  text-align: inherit;
}

.Lemolite_Bot_contact-button {
  background: #0f0f20;
  width: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin-top: 4px;
  transition: background-color 0.3s, transform 0.3s;
}
.Lemolite_Bot_contact {
  margin-left: 40px;
  margin-top: 10px;
}
.Lemolite_Bot_contact-button:hover {
  background: rgb(54, 54, 141);
  transform: scale(0.95);
  box-shadow: 0 3px 5px rgba(16, 15, 15, 0.3);
}
.Lemolite_Bot_warning p {
  background: red;
  color: white;
  width: 100%;
}
.Lemolite_Bot_warning {
  display: flex;
}
.Lemolite_Bot_chat {
  width: 100%;
}
.Lemolite_Bot_inner-button p{
  text-align: start;
  font-size: 13px;
  margin-left: 40px;
  height:50px;
  margin-top: -20px;
  margin-bottom: -20px;
  background-color: transparent;
  color: red;
}